@font-face {
  font-family: AvantGardeDemi;
  src: url('../Fonts/AvantGardeDemi.otf');
}

html {
  background-color: #002641;
}

body {
  margin: 0 auto;
  background-color: #002641;
  padding: 0 0px 0px 0px;
}

img {
  display: block;
  margin: 0 auto;
}

.TopLeftNavBar {
  font-family: AvantGardeDemi;
  background-color: #002641;
  overflow: hidden;
}

.TopCenterLogo {
  font-family: AvantGardeDemi;
  background-color: #002641;
  overflow: hidden;
}

.TopLeftNavBar a:hover {
  background-color: #002641;
  color: #2F80ED;
}

.TopLeftNavBar a {
  font-family: AvantGardeDemi;
  float: left;
  color: #000000;
  text-align: center;
  padding: 16px 40px;
  font-size: 14px;
  text-decoration: none;
}

.TopRightNavBar {
  font-family: AvantGardeDemi;
  background-color: #002641;
  overflow: hidden;
}

.TopRightNavBar a:hover {
  background-color: #002641;
  color: #2F80ED;
}

.TopRightNavBar a {
  font-family: AvantGardeDemi;
  float: left;
  color: #FFFFFF;
  text-align: center;
  padding: 16px 40px;
  font-size: 14px;
  text-decoration: none;
}

.OverallTopBar {
  display: flex;
  justify-content: space-between;
}
